---
name: Repro podman
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  podman:
    name: podman
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Workaround for rootless podman  # workaround actions/virtual-environments/issues/3229
        run: |
          mkdir -vp ~/.config/containers
          cat > ~/.config/containers/storage.conf << EOF

          [storage]
          driver = "overlay"
          graphroot = "/home/runner/.local/share/containers/storage"

          [storage.options]
          mount_program = "/usr/bin/fuse-overlayfs"
          additionalimagestores = []

          EOF

      - name: Run podman
        continue-on-error: true
        env:
          XDG_RUNTIME_DIR=/run/user/1001
        run: |
          env
          podman run -d --rm --privileged --name instance quay.io/actatux/ansible-centos:8
          podman info > /tmp/podman_info.out
          podman exec instance systemctl list-units
          podman exec instance systemctl status

      - name: Collect sos report
        run: |
          sudo sos report --batch
          sudo chmod 644 /tmp/sosreport-*

      - name: Archive sos report results
        uses: actions/upload-artifact@v2
        with:
          name: sos-report
          path: |
            /tmp/sosreport-*
            /tmp/podman_*
